@import '../colors.sass'
  
nav
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  width: 300px
  background-color: $light-accent

  img
    width: 60%
    height: auto
    border-radius: 50%
    margin-top: 64px
    margin-bottom: 64px

  ul
    display: flex
    flex-direction: column

    li
      display: inline-block
      margin: 8px 4px

      *
        color: black
        text-decoration: none
        padding: 4px 4px