@import '../colors'
@import '../responsive'
@import '../typography'

nav
  position: relative
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background-color: $light-accent
  @extend .font-gray

  & > .nav-title
    position: absolute
    display: flex
    align-items: center
    height: 100%

    left: 1%

    @media screen and (min-width: $screen-md-min-width)
      left: 2.5%

    @media screen and (min-width: $screen-lg-min-width)
      left: 5%
    
  & > .nav-title > img
    height: 50%

  & > .nav-lang-selector
    position: absolute
    @include font-size-medium
    @include font-weight-extrabold
    @extend .font-gray
    cursor: default
    
    right: 1%

    @media screen and (min-width: $screen-md-min-width)
      right: 2.5%

    @media screen and (min-width: $screen-lg-min-width)
      right: 5%

    & > span
      cursor: pointer

      &:hover
        text-decoration: underline

  & > span
    @include font-size-large
    @include font-weight-extrabold

  & > ul
    display: flex
    flex-direction: row

    @media screen and (max-width: $screen-sm-min-width)
      position: absolute
      flex-direction: column
      width: 100%
      top: 100%
      background: transparentize($light-accent, .2)
      transform-origin: top
      transition: transform 0.5s ease
    
      &.mobile.closed
        transform: scaleY(0)
      
      &.mobile.open
        transform: scaleY(1)

    & > li
      display: inline-flex
      align-items: center
      justify-content: center
      @include font-size-large
      @include font-weight-extrabold
      
      margin: 4px 4px

      @media screen and (min-width: $screen-md-min-width)
        margin: 4px 16px

      @media screen and (min-width: $screen-lg-min-width)
        margin: 8px 32px

      & > *
        @extend .font-gray
        text-decoration: none
        padding: 4px 4px

        &:hover
          text-decoration: underline