@import '../colors.sass'
  
nav
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $light-accent

  img
    position: absolute
    top: 5%
    width: 80%
    height: auto
    border-radius: 50%
    border: 5px solid $dark-accent
    box-shadow: 0 0 4px $dark-accent

  .nav-lang-selector
    position: absolute
    bottom: 5%

  ul
    display: flex
    flex-direction: column

    li
      display: inline-flex
      align-items: center
      justify-content: center
      margin: 8px 4px

      *
        color: black
        text-decoration: none
        padding: 4px 4px

        &:hover
          text-decoration: underline